<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Scrape</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

  </div>
    
  <!-- Latest Mars News -->
  <div class = "container">
      <h2>Latest Mars News</h2>
      <h6>{{mars_data.news_title}}</h6>
      <p>{{mars_data.news_p}}</p>
  </div>

  <div class = "container">
      <div class = "row">
          <!-- Row 1, Left Column: Featured Mars Image -->
          <div class = "col-lg-8">
            <h2>Featured Mars Image</h2>
            <img src = "{{mars_data.featured_image_url}}" alt = "Featured Image">
          </div>
          <!-- Row 1, Right Column: Mars Facts -->
          <div class = "col-lg-4">
              <h6>Mars Facts</h6>
              <table class = "table" {{mars_data.mars_table|safe}}></table>
          </div>
      </div>
  </div>

  <div class = "container">
      <h3 class = "text-center">Mars Hemispheres</h3>
      <hr>
      <div class = "row">
        {% for item in mars_data.hemisphere_image_urls %}
            <div class = "col-lg-6">
                <div class = "card">
                    <div class = "card-body">
                        <img src = "{{item.image_url}}" alt = {{item.title}} width = "100%" height = "100%">
                        <h4 class = "card-title">{{item.title}}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
  </div>



</body>

</html>